html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: beige !important;
}

h2 {
    color: red;
}
a {
  color:white !important;
}

form input,
select {
    border-style: none;
}

input[type=text]:focus {
    border: 4px solid #c9b220;
}

.header {
    position: relative;
    height: 100vh;
    min-height: 500px;
    background-image: url(../images/middle_earth.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border: none;
}

.header .overlay .title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}
