<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title || "10 - Web app with ejs" %></title>
  <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
  <header>
    <h1><%= title || "Welcome" %></h1>
    <img src="../images/StarLion.png" style="display:block; margin:0 auto;" width="180" alt="lion brewery" />
  </header>

  <main>
