body {
  text-align: center;
  background-color: #1a1a1a;
  color: #c7c7c7;
  font-family: 'Special Elite', cursive;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin: 2%;
  color: #e84a5f;
}

p {
    font-size: 1.2rem;
}

.character-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.character {
  width: 150px;
  height: 150px;
  border: 5px solid #c7c7c7;
  border-radius: 50%;
  background-color: #333;
  box-shadow: 0 0 15px #000;
}

#looker {
  background-image: url('./looker.jpg');
  background-size:cover;
}

#cyrus {
  background-image: url('./cyrus.webp');
  background-size:cover;
}

.board {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  background-color: #333;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: 0 0 20px #e84a5f;
}

.game-over {
  background-color: #e84a5f;
  opacity: 0.8;
}

.safehouse {
  border-color: #3d5c3d;
}

.informant {
  border-color: #8b0000;
}

.getaway {
  border-color: #b8860b;
}

.wiretap {
  border-color: #00008b;
}

.pressed {
    transform: scale(0.95);
    box-shadow: 0 0 20px #e84a5f;
}

.lit.safehouse {
  background-color: #90ee90;
}

.lit.informant {
  background-color: #ff4500;
}

.lit.getaway {
  background-color: #ffd700;
}

.lit.wiretap {
  background-color: #87cefa;
}
