<%- include('header.partial.ejs') %>
<h1>Welcome to the Secrets Page!</h1>
<img src=""></img>
<p>This is a protected page. Only users with a login can see my super secret that is</p>
<p><%= locals.supersecret %></p>
<a href="/logout" class="btn">Logout</a>
<%- include('footer.partial.ejs') %>
