<%- include('header.partial.ejs') %>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h1>This are your secrets</h1>
      <ul>
        <% secrets.forEach(secret => { %>
          <li><%= secret %></li>
        <% }); %>
      </ul>

      <form action="/submit" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="secret" placeholder="What's your secret?">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>

      <a href="/logout" class="btn">Logout</a>
    </div>
  </div>
</div>
<%- include('footer.partial.ejs') %>
